{% extends 'mainv2.html' %}
{% load static tailwind_tags %}
{% block title %}HealthHub Connect | Medical Requirements Tracker{% endblock %}
{% block extra_css %}
{% tailwind_css %}
{% endblock %}

{% block content %}
<div class="xs:p-4 lg:p-8 bg-white rounded-[18px] flex flex-col gap-4 {% if user.is_superuser or user.is_staff %} w-full {% else %}xs:w-full md:w-1/2 h-[80%] {% endif %}">
    <h2 class="font-bold xs:text-[1.3rem] md:text-[1.5rem] text-black tracking-tight py-4 text-center">Medical Requirements Tracker</h2>
    {% if user.is_superuser or user.is_staff %}
        <form method="POST" class="flex items-center gap-2">
            {% csrf_token %}
            <input class="p-2 w-full" type="number" name="student_id" placeholder="Search by Student ID">
            <button class="bg-[#3b82f6] text-white text-[14px] py-2 px-4 w-[30%] h-full cursor-pointer" type="submit">Search</button>
        </form>
    {% endif %}
    <div class="flex flex-col gap-2 h-full">
        <h3 class="font-medium xs:text-base md:text-[1.3rem] text-center">List of Requirements</h3>
        <table class="w-full">
            <thead class="bg-[#e6e6e6] w-full">
                <tr class="tr-header">
                    <th class="text-center p-2 xs:text-[14px] md:text-base">Requirement</th>
                    <th class="text-center p-2 xs:text-[14px] md:text-base">Status</th>
                    <th class="text-center p-2 xs:text-[14px] md:text-base">File</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if med_requirements.chest_xray or med_requirements.cbc or med_requirements.drug_test or med_requirements.stool_examination %}
                        <td>Chest X-Ray</td>
                        {% if med_requirements.chest_xray.url %}
                            <td>Submitted</td>
                            <td><a href="{{ med_requirements.chest_xray.url }}">Chest X-Ray</a></td>
                        {% else %}
                            <td>Not Submitted</td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    {% if med_requirements.chest_xray or med_requirements.cbc or med_requirements.drug_test or med_requirements.stool_examination %}
                        <td>Complete Blood Count</td>
                        {% if med_requirements.cbc.url %}
                            <td>Submitted</td>
                            <td><a href="{{ med_requirements.cbc.url }}">Complete Blood Count</a></td>
                        {% else %}
                            <td>Not Submitted</td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    {% if med_requirements.chest_xray or med_requirements.cbc or med_requirements.drug_test or med_requirements.stool_examination %}
                        <td>Drug Test</td>
                        {% if med_requirements.drug_test.url %}
                            <td>Submitted</td>
                            <td><a href="{{ med_requirements.drug_test.url }}">Drug Test</a></td>
                        {% else %}
                            <td>Not Submitted</td>
                        {% endif %}
                    {% endif %}
                </tr>
                <tr>
                    {% if med_requirements.chest_xray or med_requirements.cbc or med_requirements.drug_test or med_requirements.stool_examination %}
                        <td>Stool Examination</td>
                        {% if med_requirements.stool_examination.url %}
                            <td>Submitted</td>
                            <td><a href="{{ med_requirements.stool_examination.url }}">Stool Examination</a></td>
                        {% else %}
                            <td>Not Submitted</td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% if med_requirements.pwd_card %}
                    <tr>
                        <td>PWD Card</td>
                        <td>Submitted</td>
                        <td><a href="{{ med_requirements.pwd_card.url }}">PWD Card</a></td>
                    </tr>
                {% endif %}
                <!-- {% for requirement in medical_requirements %}
                    <tr class="tr-td">
                        <td></td>
                        <td></td>
                    </tr>
                {% empty %}
                    <tr class="tr-td">
                        <td colspan="2">No medical requirements found</td>
                    </tr>
                {% endfor %} -->
            </tbody>
        </table>
    </div>
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <p class="text-[14px] {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if not user.is_superuser and not user.is_staff %}
        <button class="bg-[#3b82f6] mt-8 text-white text-[14px] py-2 px-4 rounded-md w-full cursor-pointer">
            <a href="{% url 'medical:upload_requirements' %}">Upload Requirement</a>
        </button>
    {% endif %}
</div>
{% endblock %}
