{% extends 'mainv2.html' %} 
{% load static %} 

{% block title %}Medical{% endblock %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/admin/patientlist.css' %}" />
    <link rel="stylesheet" media="print" href="{% static 'styles/print.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">
      {{ message }}
    </p>
    {% endfor %}
  </div>
  {% endif %}
  <h2>Patient Profile</h2>
  <br /><br />
  <form method="POST" class="search-form">
    {% csrf_token %}
    <input type="text" name="student_id" placeholder="Enter ID to search" />
    <button type="submit">Search</button>
  </form>
  <div class="request">
    <table>
      <thead>
        <tr class="tr-header">
          <th>Student ID</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Degree</th>
          <th>Year Level</th>
          <th>Sex</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
        <tr class="tr-td">
          <td>
            <a
              href="{% url 'medical:physical_exam' patient.student.student_id %}"
              >{{ patient.student.student_id }}</a
            >
          </td>
          <td>
            <a
              href="{% url 'medical:physical_exam' patient.student.student_id %}"
              >{{ patient.student.lastname|title }}</a
            >
          </td>
          <td>
            <a
              href="{% url 'medical:physical_exam' patient.student.student_id %}"
              >{{ patient.student.firstname|title }}</a
            >
          </td>
          <td>
            <a
              href="{% url 'medical:physical_exam' patient.student.student_id %}"
              >{{ patient.student.degree }}</a
            >
          </td>
          <td>
            <a
              href="{% url 'medical:physical_exam' patient.student.student_id %}"
              >{{ patient.student.year_level }}</a
            >
          </td>
          <td>
            <a
              href="{% url 'medical:physical_exam' patient.student.student_id %}"
              >{{ patient.student.sex }}</a
            >
          </td>
        </tr>
        {% empty %}
        <tr class="tr-td">
          <td colspan="6">No patients found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>

</script>
{% endblock %}
