{% extends 'mainv2.html' %} 
{% load static %} 

{% block title %}Medical{% endblock %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/viewrequest.css' %}" />
<link rel="stylesheet" media="print" href="{% static 'styles/print.css' %}" />
{% endblock %} 

{% block content %}
<div class="container">
  {% if messages %} {% for message in messages %}
  <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">
    {{ message }}
  </p>
  {% endfor %} {% endif %}
  <h2>STUDENTS REQUEST</h2>
  <div class="tab-container">
    <button
      type="button"
      class="tab-button active"
      onclick="showTab('request')"
    >
      Request
    </button>
    <button type="button" class="tab-button" onclick="showTab('approve-table')">
      Approve
    </button>
  </div>
  <div class="request" id="request">
    <h3>Request</h3>
    <table>
      <thead>
        <tr class="tr-header">
          <th>Student ID</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Request Type</th>
          <th>Date Requested</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for request in patient_requests %} {% if not request.approve %}
        <tr class="tr-td">
          <form action="" method="POST">
            {% csrf_token %}
            <input
              type="hidden"
              name="request_id"
              value="{{ request.request_id }}"
            />
            <input
              type="hidden"
              name="request_type"
              value="{{ request.request_type }}"
            />
            <td><a href="#">{{ request.patient.student.student_id }}</a></td>
            <td>
              <a href="#">{{ request.patient.student.lastname|title }}</a>
            </td>
            <td>
              <a href="#">{{ request.patient.student.firstname|title }}</a>
            </td>
            <td><a href="#">{{ request.request_type }}</a></td>
            <td><a href="#">{{ request.date_requested }}</a></td>
            <td>
              <button
                type="submit"
                name="action"
                value="approve"
                class="approve"
              >
                Approve
              </button>
              <button type="submit" name="action" value="reject" class="reject">
                Reject
              </button>
            </td>
          </form>
        </tr>

        {% endif %} {% empty %}
        <tr class="tr-td">
          <td colspan="6">No requests found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="approve-table" id="approve-table" style="display: none">
    <h3>Approved</h3>
    <table>
      <thead>
        <tr class="tr-header">
          <th>Student ID</th>
          <th>Lastname</th>
          <th>Firstname</th>
          <th>Request Type</th>
          <th>Date Approved</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for request in patient_requests %} {% if request.approve %} {% if
        request.request_type == "Eligibility Form" %}
        <tr class="tr-td">
          <form action="" method="POST">
            {% csrf_token %}
            <input
              type="hidden"
              name="request_id"
              value="{{ request.request_id }}"
            />
            <input
              type="hidden"
              name="request_type"
              value="{{ request.request_type }}"
            />
            <td>
              <a
                href="{% url 'medical:eligibility_form' request.patient.student.student_id %}"
                >{{ request.patient.student.student_id }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:eligibility_form' request.patient.student.student_id %}"
                >{{ request.patient.student.lastname|title }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:eligibility_form' request.patient.student.student_id %}"
                >{{ request.patient.student.firstname|title }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:eligibility_form' request.patient.student.student_id %}"
                >{{ request.request_type }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:eligibility_form' request.patient.student.student_id %}"
                >{{ request.date_approved }}</a
              >
            </td>
            <td>
              <button type="submit" name="action" value="done" class="approve">
                Mark As Done
              </button>
            </td>
          </form>
        </tr>
        {% elif request.request_type == "Medical Clearance for OJT/Practicum" %}
        <tr class="tr-td">
          <form action="" method="POST">
            {% csrf_token %}
            <input
              type="hidden"
              name="request_id"
              value="{{ request.request_id }}"
            />
            <input
              type="hidden"
              name="request_type"
              value="{{ request.request_type }}"
            />
            <td>
              <a
                href="{% url 'medical:medicalclearance' request.patient.student.student_id %}"
                >{{ request.patient.student.student_id }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:medicalclearance' request.patient.student.student_id %}"
                >{{ request.patient.student.lastname|title }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:medicalclearance' request.patient.student.student_id %}"
                >{{ request.patient.student.firstname|title }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:medicalclearance' request.patient.student.student_id %}"
                >{{ request.request_type }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:medicalclearance' request.patient.student.student_id %}"
                >{{ request.date_approved }}</a
              >
            </td>
            <td>
              <button type="submit" name="action" value="done" class="approve">
                Mark As Done
              </button>
            </td>
          </form>
        </tr>
        {% elif request.request_type == "Medical Certificate for Intramurals" %}
        <tr class="tr-td">
          <form action="" method="POST">
            {% csrf_token %}
            <input
              type="hidden"
              name="request_id"
              value="{{ request.request_id }}"
            />
            <input
              type="hidden"
              name="request_type"
              value="{{ request.request_type }}"
            />
            <td>
              <a
                href="{% url 'medical:med_cert_for_intrams' request.patient.student.student_id %}"
                >{{ request.patient.student.student_id }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:med_cert_for_intrams' request.patient.student.student_id %}"
                >{{ request.patient.student.lastname|title }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:med_cert_for_intrams' request.patient.student.student_id %}"
                >{{ request.patient.student.firstname|title }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:med_cert_for_intrams' request.patient.student.student_id %}"
                >{{ request.request_type }}</a
              >
            </td>
            <td>
              <a
                href="{% url 'medical:med_cert_for_intrams' request.patient.student.student_id %}"
                >{{ request.date_approved }}</a
              >
            </td>
            <td>
              <button type="submit" name="action" value="done" class="approve">
                Mark As Done
              </button>
            </td>
          </form>
        </tr>
        {% endif %} {% endif %} {% empty %}
        <tr class="tr-td">
          <td colspan="6">No requests found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  function showTab(tabId) {
    var tabs = document.querySelectorAll(".tab-button");
    var contents = document.querySelectorAll(".request, .approve-table");
    tabs.forEach(function (tab) {
      tab.classList.remove("active");
    });
    contents.forEach(function (content) {
      content.style.display = "none";
    });
    document.getElementById(tabId).style.display = "block";
    document
      .querySelector(".tab-button[onclick=\"showTab('" + tabId + "')\"]")
      .classList.add("active");
  }

  document.addEventListener("DOMContentLoaded", function () {
    showTab("request");
  });
</script>
{% endblock %}
