/* styles/medicalrequirements.css */
a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.message {
    margin-top: -15px;
    padding: 5px 10px;
    border-radius: 5px;
}

.message.info {
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #b8daff;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

h2 {
    text-align: center;
    margin-top: 0;
}

.search-form {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.search-form input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-form button {
    padding: 10px;
    background-color: #FF8000;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #FF8000;
}

.requirements {
    margin-top: 20px;
    max-height: 350px;
    margin-bottom: 200px;
}

.requirements h3 {
    text-align: left;
    padding: 10px;
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.tr-header {
    background-color: #f0f0f0;
}

.tr-td:hover {
    background-color: #f0f0f0;
}

table td, table th {
    padding: 10px;
    text-align: center;
    border: none;
}

.upload-button {
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FF8000;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px auto;
}

.upload-button:hover {
    background-color: #FF8000;
}

.btn-cont {
    display: flex;
    justify-content: center;
}