* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.image-wrapper {
  display: flex;
  width: 50%;
}

.image-wrapper > img {
  width: 100%;
}

.reset-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-wrapper > .reset-container {
  display: flex;
  width: 70%;
  gap: 1rem;
  flex-direction: column;
}

.reset-wrapper > .reset-container > .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reset-wrapper > .reset-container > .header > .logo-container > img {
  width: 5rem;
}

.reset-wrapper > .reset-container > .header > .title-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reset-wrapper > .reset-container > .header > .title-container > h1 {
  font-size: 1.3rem;
  line-height: 100%;
  text-align: end;
}

.reset-wrapper > .reset-container > .header > .title-container > p {
  width: 100%;
  font-size: 14px;
  text-align: end;
  line-height: 120%;
}

.reset-wrapper > .reset-container > .password-reset-info {
  display: flex;
  flex-direction: column;
}

.reset-wrapper > .reset-container > .password-reset-info > h2 {
  font-size: 1.3rem;
}

.reset-wrapper > .reset-container > .password-reset-info > p {
  font-size: 1rem;
  line-height: 120%;
}

.reset-wrapper > .reset-container > form {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.reset-wrapper > .reset-container > form > input {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  margin-bottom: 8px;
}

.reset-wrapper > .reset-container > form > .submit-button {
  padding: 10px;
  background-color: #3f8bff;
  width: 30%;
  align-self: flex-start;
  color: white;
  border: none;
  cursor: pointer;
}

.reset-wrapper > .reset-container > form > .submit-button:hover {
  background-color: #3577cc;
}

@media (min-width: 360px) {
  .image-wrapper {
    display: none;
  }

  .reset-wrapper {
    width: 100%;
  }

  .reset-wrapper > .reset-container {
    padding: 1rem;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .reset-wrapper > .reset-container {
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .image-wrapper {
    display: flex;
    width: 50%;
  }

  .reset-wrapper {
    width: 50%;
  }

  .reset-wrapper > .reset-container {
    padding: 0;
    width: 60%;
  }
}
