{% extends 'mainv2.html' %}
{% load static %}

{% block title %} Submit a Request {% endblock %}

{% block extra_css %} 
<link rel="stylesheet" href="{% static 'styles/students/psearch.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h2>Submit a Request</h2>
    <br><br>
    <form method="POST">
        {% csrf_token %}
        <table class="request-table">
            <tr>
                <th><label for="student_id">Student ID:</label></th>
                <th><label for="request_type">Request Type:</label></th>
                <th>Action:</th>
            </tr>
            <tr>
                <td>
                    <input type="text" id="student_id" placeholder="Enter Your ID" name="student_id">
                </td>
                <td>
                    <select id="requestType" name="request_type" class="form-control" required>
                        <option value="">Select Request Type</option>
                        <option value="Eligibility Form">Eligibility Form</option>
                        <option value="Medical Certificate for Intramurals">Medical Certificate for Intramurals</option>
                        <option value="Medical Clearance for OJT/Practicum">Medical Clearance for OJT/Practicum</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </td>
            </tr>
        </table>
        <br><br>
    </form>
</div>
{% endblock %}
