{% extends 'mainv2.html' %}
{% load static tailwind_tags %}

{% block title %} HealthHub Connect | Documentary Request {% endblock %}

{% block extra_css %} 
{% tailwind_css %}
{% endblock %}

{% block content %}

<div class="bg-white p-8 flex flex-col gap-2 rounded-[18px]">
    <h2 class="font-bold text-[1.5rem] text-black tracking-tight py-4 text-center">Documentary Request</h2>
    <form method="POST" class="flex flex-col">
        {% csrf_token %}
        <div class="flex flex-col">
            <div class="flex bg-[#e6e6e6] p-2">
                <label class="w-full text-center font-bold" for="studentId">Student ID</label>
                <label class="w-full text-center font-bold" for="requestType">Request Type</label>
            </div>
            <div class="flex gap-2 py-2">
                <input class="w-full" type="text" id="student_id" placeholder="Enter Your ID" name="student_id">
                <select class="w-full" id="requestType" name="request_type" required>
                    <option value="">Select Request Type</option>
                    <option value="Eligibility Form">Eligibility Form</option>
                    <option value="Medical Certificate for Intramurals">Medical Certificate for Intramurals</option>
                    <option value="Medical Clearance for OJT/Practicum">Medical Clearance for OJT/Practicum</option>
                </select>
            </div>
        </div>
       
        {% if messages %}
        {% for message in messages %}
            <p class="text-red-500 {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
        {% endif %}
        <input class="bg-[#3b82f6] mt-8 text-white text-[14px] py-2 px-4 rounded-md w-[8rem] cursor-pointer" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
