{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="shortcut icon"
      type="x-icon"
      href="{% static 'images/CTU_logo.png' %}"
    />
    <title>
      {% block title %}STUDENT LIFE INFORMATION SYSTEM{% endblock %}
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'styles/fontawesome-free-6.5.2-web/css/all.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'styles/mainv2.css' %}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <main class="main-container">
      <nav>
        <div>
          <img src="{% static 'images/CTU_logo.png' %}" class="logo" />
          <h1>HealthHub Connect</h1>
        </div>
        <ul>
          {% if user.is_superuser or user.is_staff %}
          <li>
            <a href="{% url 'medical:patient_profile' %}">Patient Profile</a>
          </li>
          <li><a href="{% url 'medical:viewrequest' %}">View Requests</a></li>
          <li>
            <a href="{% url 'medical:medtracker' %}"
              >Student Medical Requirements Tracker</a
            >
          </li>
          <li>
            <a href="{% url 'medical:emergency_asst' %}"
              >Emergency Health Assistance</a
            >
          </li>
          <li><a href="{% url 'medical:pwdlist' %}">PWD Profile</a></li>
          <li>
            <a href="{% url 'medical:dentalrequest' %}">Dental Services</a>
          </li>
          <li>
            <a href="{% url 'medical:prescription' %}">Prescription Issuance</a>
          </li>
          <li>
            <a href="{% url 'medical:transactions' %}">Transaction Reports</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'medical:request' %}">Documentary Request</a>
          </li>
          <li>
            <a href="{% url 'medical:medtracker' %}"
              >Medical Requirements Upload</a
            >
          </li>
          <!-- <li><a href="{% url 'medical:insurance_eligibility' %}">Emergency Health Assistance</a></li> -->
          <li>
            <a href="{% url 'medical:dentalservice' %}"
              >Dental Services Availment</a
            >
          </li>
          {% endif %}

          <br /><br /><br /><br />
        </ul>
      </nav>
      <section>
        <div class="mobile-menu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          </div>
        <div class="content-page">
            {% block content %} {% endblock %}
        </div>
    </section>
    </main>
    <!-- </div>  -->

    <script src="{% static 'scripts/jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'scripts/newmain.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
